<script type="text/template" id="beerTabTemplate">
	<div class="row col-lg-12 col-lg-offset-1 form-group">
		
		<div class="row col-lg-12 col-lg-offset-1">
			<div class="row col-lg-3">
				<img src="<%%= labels['medium'] %>" class="fit">
			</div>
			<div class="col-lg-6 col-lg-offset-3">
				<h4><%%= name %>
				<%%= style['abvMax'] %>%</h4>
				<input class="btn btn-default btn-md btn-block" type="submit" value="&#8776; ALCULATE">
			</div>
		</div>

		<div class="row col-lg-12">
			<div class="col-lg-6 col-lg-offset-6">
			</div>
		</div>
	

	</div>
</script>