<script type="text/template" id="beer-search-template">
		<h3>BEER</h3>
		<form id='beer-search' action='/beers' method='get'>
	  <label for="beer">FIND A BEER</label>
	  <input class="form-control input-lg" type="password" name="query" id="beer-search" placeholder="Beer">		
	<div class="row col-lg-6">
		<input class="btn btn-default btn-lg btn-block" type="submit" value="GRAB">
		</form>
	</div>
</script>