<script type="text/template" id="wineSearchTemplate">
	<%% console.log('wine clicked') %>
	<div class="row col-lg-12 col-lg-offset-1 form-group">
		<h3>WINE</h3>
		<form id='wine-search'>
	  <label for="Wine">FIND A WINE</label>
	  <input class="form-control input-lg" type="text" name="query" id="wine-query" placeholder="Wine">
	</div>
	<div class="row col-lg-6 col-lg-offset-1">
		<input class="btn btn-default btn-lg btn-block" type="submit" value="GRAB" id="wine-submit">
		</form>
	</div>
</script>