
/*#main-content {
	padding-left: 40px;
}
*/



#page-title h1 {
	font-size: 50px;
}

.georgia {
	font-family: georgia;
}

#header {
	height: 80px;
	padding-left: 40px;
	text-align: center;
	
}



#bac-meter{
	height: 190px;
}

.chart-color1 {
  fill: yellow;
}

.chart-color2 {
  fill: darkorange;
}

.chart-color3 {
  fill: red;
 }
.needle {
	fill: #464A4F;
}