<div id="alculator">
	<div class="col-lg-4">
		<div class="form-group row col-md-12">
			<div class="col-md-6" id="sex">
				<label class="radio">MALE</label>
		  	<input type="radio" value="male" id="male" name="inlineRadioOptions">
			</div>
			<div class="col-md-6">
				<label class="radio">FEMALE</label>
		  	<input type="radio" value="female" id="female" name="inlineRadioOptions">
			</div>
		</div>	
		<div class="form-group row col-md-12">
			<div class="col-md-12">
				<label for="lbs">WEIGHT</label>
		    <input class="form-control input-lg" type="password" id="lbs" placeholder="Lbs">
			</div>
			<div class="col-md-12">
				<label for="hours">HOURS</label>
				<select class="form-control input-lg">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				  <option>6</option>
				  <option>7</option>
				  <option>8</option>
				  <option>9</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group row col-md-12">
				<div class="col-md-6">
					<label for="drinks">&numero; of DRINKS</label>
					<select class="form-control input-lg">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>6</option>
					  <option>7</option>
					  <option>8</option>
					  <option>9</option>
					</select>
				</div>
				<div class="col-md-6">
					<label for="ABV">ALCOHOL %</label>
					<input class="form-control input-lg" type="text" id="abv" name="abv" placeholder="4.5">
				</div>
			</div>
		<div class="form-group row col-md-12">
			<button type="button" class="btn btn-default btn-lg btn-block">+ ADD MORE DRINKS</button>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group row col-md-12">
			<div class="col-md-6">
				<input class="btn btn-default btn-lg btn-block" type="submit" value="SUBMIT">
			</div>
			<div class="col-md-6 ">
				<input class="btn btn-default btn-lg btn-block" type="reset" value="RESET">
			</div>
		</div>
	</div>
</div>
