<div class="row col-lg-12 col-lg-offset-1" id="bac-meter">
	<script type="text/template" id="bacMeterTemplate">
	<h3>BAC</h3>
		<%= render partial: "templates/d3_object" %>
	</script>
</div>
<div class="row col-lg-12 col-lg-offset-1" id="bac-container">	
	<script type="text/template" id="bacTemplate">
	<h3>YOUR BAC LEVEL</h3>
		<h2>&#8776; <%%= bac %></h2>
	</script>

</div>

			
