<div class="row col-md-12">
	<div class="col-md-4" id="chart-gauge">

	</div>
	<div class="col-md-4 georgia" id="title">
		<h1>ALCULATOR</h1>
	</div>
 	<div class="col-md-4" id="beaker">
    <%= image_tag "alc.png", size: "200x200", class: "alc-img" %>
  </div>
</div>
	<ul class="nav nav-pills nav-justified">
		<li role="presentation" class="active"><a href="#">BEER</a></li>
		<li role="presentation"><a href="#">WINE</a></li>
		<li role="presentation"><a href="#">LIQUOR</a></li>
	</ul>