<div class="row col-md-12" id="header">
	<div class="col-md-3 col-md-offset-1" id="bac-meter">
		<%= render partial: "bac_meter" %>
	</div>
	<div class="col-md-4 georgia" id="title">
		<h1><em>ALC</em>ULATOR</h1>
	</div>
 	<div class="col-md-3" id="beaker">
    <%= image_tag "alc.png", size: "200x200", class: "alc-img" %>
  </div>
</div>
	<ul class="nav nav-pills nav-justified">
		<li role="presentation" class="active"><a href="#">BEER</a></li>
		<li role="presentation"><a href="#">WINE</a></li>
		<li role="presentation"><a href="#">LIQUOR</a></li>
	</ul>