<div class="col-md-12" id="page-title">
	<h1><em>ALC</em>ULATOR</h1>
</div>

<ul class="nav nav-tabs">

  <li role="presentation" class="active" id="beer-tab"><a href="#">BEER</a></li>
  
  <li role="presentation" id="liquor-tab"><a href="#">LIQUOR</a></li>
    
  <li role="presentation" id="wine-tab"><a href="#">WINE</a></li>
  
</ul>