
	<div class="col-lg-12" id="beer">
		<div class="form-group row col-md-4">
		<div class="col-md-12">
			<h3>INSTANT BEER</h3>
	    <label for="beer">GRAB A QUICK BEER</label>
	    <input class="form-control input-lg" type="password" id="beer-search" placeholder="Beer">
		</div>
	</div>
	<div class="col-lg-4" id="bac-meter">
		<div class="form-group row col-md-12">
			<%= render partial: "bac_meter" %>
	</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group row col-md-12">
		<div class="form-group row col-md-12">
		<div class="col-md-6 col-xs-3">
			<!-- <label for="sex">DFJKSL</label> -->
			<div class="radio-inline">
				<label>
		  	<input type="radio" value="male" id="male" name="inlineRadioOptions">
		  	MALE</label>
		  </div>
			</div>
			<div class="radio-inline">
				<label>
		  	<input type="radio" value="female" id="female" name="inlineRadioOptions">
				FEMALE</label>
			</div>
		</div>
		</div>	
			<div class="col-md-6 col-xs-6">
				<label for="hours">HOURS PASSED</label>
				<select class="form-control input-lg">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				  <option>6</option>
				  <option>7</option>
				  <option>8</option>
				  <option>9</option>
				</select>
			</div>
			<div class="col-md-6 col-xs-6">
				<label for="lbs">WEIGHT IN LBS</label>
		    <input class="form-control input-lg" type="password" id="lbs">
			</div>
		</div>
	</div>

	
