	<div class="col-lg-4" id="beer">
		<div class="form-group row col-md-12">
		<div class="col-md-12">
			<h3 for="beer">BEER</h3>
	    <input class="form-control input-lg" type="password" id="beer-search" placeholder="Beer">
		</div>
	</div>
	</div>
	<div class="col-lg-4" id="liquor">
		<div class="form-group row col-md-12">
		<div class="col-md-12">
			<h3 for="liquor">LIQUOR</h3>
	    <input class="form-control input-lg" type="password" id="liquor-search" placeholder="Liquor">
		</div>
	</div>
	</div>
	<div class="col-lg-4" id="wine">
		<div class="form-group row col-md-12">
		<div class="col-md-12">
			<h3 for="wine">WINE</h3>
	    <input class="form-control input-lg" type="password" id="wine-search" placeholder="Wine">
		</div>
	</div>
	</div>
