	<div class="col-lg-4" id="bac-meter">
		<div class="form-group row col-md-12">
			<%= render partial: "bac_meter" %>
	</div>
	</div>
	<div class="col-lg-8" id="beer">
		<div class="form-group row col-md-12">
		<div class="col-md-12">
			<h3>INSTANT BEER</h3>
	    <label for="beer">GRAB A QUICK BEER</label>
	    <input class="form-control input-lg" type="password" id="beer-search" placeholder="Beer">
		</div>
	</div>
	</div>
	
