<div class="row col-lg-12 col-lg-offset-1 form-group" id="search-container">

	<%= render partial: "templates/beer_search" %>
	<%= render partial: "templates/liquor_search" %>
	<%= render partial: "templates/wine_search" %>

</div>

<div class="row col-lg-12 col-lg-offset-1 form-group" id="search-results">

	<%= render partial: "templates/selections" %>	

</div>

