
<div class="row col-lg-12" id="header">
	<%= render partial: "navbar" %>
</div>

<div class="row col-lg-12" id="search-content">
	<%= render partial: "searches" %>
</div>
	
<div class="row col-lg-12" id="main-content">
	<%= render partial: "alculator" %>

</div>
