
<div class="row col-lg-12" id="header">
	<%= render partial: "navbar" %>
</div>

<div class="row col-lg-4" id="search-content">
	<%= render partial: "searches" %>
</div>
	
<div class="row col-lg-4" id="main-content">
	<%= render partial: "bac_result" %>
</div>

<div class="row col-lg-4" id="main-content">
	<%= render partial: "alculator" %>
</div>