<!DOCTYPE html>
<html>
<head>
  <title>Alculator</title>

	<script type="text/template" id="bac-template">
		<h3>BAC %</h3>
			<h2>&#8776; <%%= bac %></h2>
	</script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
